<ion-header>
    <ion-toolbar>
        <ion-title style = "font-family:Product Sans;">
          Forum
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <ion-item>
          <ion-label position="fixed">Title</ion-label>
          <ion-input [(ngModel)]="newItem.title"></ion-input>
        </ion-item>
       
        <ion-item>
          <ion-label position="fixed">Value</ion-label>
          <ion-input [(ngModel)]="newItem.value"></ion-input>
        </ion-item>
       
        <ion-button expand="full" (click)="addItem()">Add Item!</ion-button>
        
        <ion-list-header>
            <ion-label>My Items</ion-label>
          </ion-list-header>
        
        <ion-list *ngFor="let item of items" #mylist>
       
            <ion-item>
              <ion-label text-wrap>
                <h3>{{ item.title }}</h3>
                <ion-text color="secondary">
                  <p>{{ item.value }}</p>
                </ion-text>
                <p>{{ item.modified | date:'short'}}</p>
              </ion-label>
            </ion-item>
       
    
       
        </ion-list>
       
      </ion-content>
</ion-content>
