<ion-header>
  <ion-toolbar>
      <ion-button [routerLink]="['/tabs/tab3']" routerDirection="forward" routerLinkActive="router-link-active" slot="start">
        <ion-icon name="arrow-back" size="large"></ion-icon>
        Back
      </ion-button>
    <ion-title>Bus Timings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-grid class="Grid">
        <ion-row>
          <ion-col size=6>
  <ion-card>

    <ion-item>
      <ion-label style="font-family:Product Sans; font-size: large;">Towards Silver Jubilee Campus from Library</ion-label>
    </ion-item>
      
      <ion-item>
            <ion-icon name="partly-sunny" slot="start"></ion-icon>
            <ion-label>8.10</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start"></ion-icon>
              <ion-label>9.00</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start"></ion-icon>
              <ion-label>9.10</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start"></ion-icon>
              <ion-label>10.00</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start"></ion-icon>
              <ion-label>10.15</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start"></ion-icon>
              <ion-label>10.30</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start"></ion-icon>
              <ion-label>11.00</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start"></ion-icon>
              <ion-label>11.30</ion-label>
          </ion-item>

        <ion-item>
          <ion-icon name="sunny" slot="start"></ion-icon>
          <ion-label>12.00</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>12.15</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>12.30</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>13.00</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>13.15</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>13.30</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>13.45</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>14.00</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>14.15</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>14.30</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>14.45</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>15.00</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>15.15</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>15.30</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>15.45</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>16.00</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>16.30</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>17.00</ion-label>
        </ion-item>


        <ion-item>
          <ion-icon name="moon" slot="start"></ion-icon>
          <ion-label>18.00</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start"></ion-icon>
            <ion-label>19.00</ion-label>
        </ion-item>
        
      </ion-card>
          </ion-col>

  <ion-col size=6>        
      <ion-card>

          <ion-item>
            <ion-label style="font-family:Product Sans; font-size: large;">Towards Library from Silver Jubilee Campus</ion-label>
          </ion-item>
            
            <ion-item>
                  <ion-icon name="partly-sunny" slot="start"></ion-icon>
                  <ion-label>8.20</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start"></ion-icon>
                    <ion-label>9.15</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start"></ion-icon>
                    <ion-label>9.20</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start"></ion-icon>
                    <ion-label>10.00</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start"></ion-icon>
                    <ion-label>10.15</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start"></ion-icon>
                    <ion-label>10.45</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start"></ion-icon>
                    <ion-label>11.00</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start"></ion-icon>
                    <ion-label>11.30</ion-label>
                </ion-item>
      
              <ion-item>
                <ion-icon name="sunny" slot="start"></ion-icon>
                <ion-label>12.00</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>12.15</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>12.45</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>13.00</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>13.15</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>13.30</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>13.45</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>14.00</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>14.15</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>14.30</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>15.00</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>15.45</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>16.00</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>16.30</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>17.00</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>17.20</ion-label>
              </ion-item>
      
      
              <ion-item>
                <ion-icon name="moon" slot="start"></ion-icon>
                <ion-label>18.30</ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start"></ion-icon>
                  <ion-label>19.30</ion-label>
              </ion-item>
              
            </ion-card>
  </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
