<ion-header>
  <ion-toolbar>
      <ion-button [routerLink]="['/tabs/tab3']" routerDirection="forward" routerLinkActive="router-link-active" 
      color="light" slot="start">
        <ion-icon name="arrow-back" size="large"></ion-icon>
        Back
      </ion-button>
    <ion-title>Schools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
<ion-card-header>
  <ion-card-title>
    School of Law
  </ion-card-title>
</ion-card-header>
<ion-card-content>
    The School of Law is one of the emerging departments of the Pondicherry University which came into existence in the year 2014-2015.
</ion-card-content>
</ion-card>
</ion-content>
